* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}


.hamburger-button {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
    background-color: transparent;
    border: 2px solid black; 
    border-radius: 18px;
    padding: 3px;
}


#hamburger-menu {
    position: fixed;
    top: 3em;
    bottom: 0;
    width: 12em;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.70s ease-in-out;
}


#menu-list {
    margin-top: 4%;
    margin-left: 5px;
    padding: 1rem 0 0 1rem;
    min-height: 32em;
}


#hamburger-menu.slide-right {
	transform: translateX(0);
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
