* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 12em;
    margin: 8% auto;
    display: block;
    height: 4em;
}

.toast-container {
    width: 40vw;
    height: 25vh;
    margin: auto;
    border: 3px black solid;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 115%;
    font-weight: bold;
}